<html>
  <head>
    <meta charset="utf-8" />
    <title>Featured Brands</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Featured Brands</a></li>
          <li><a href="#">Posts/Reviews</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="featured-brands">
        <h1>Featured Brands</h1>
        <div class="slider">
          <div class="slide">
            <div class="brand-card">
              <img src="images/Aquafina_1.png" alt="Brand 1" />
              <h3>Aquafina</h3>
            </div>
          </div>
          <div class="slide">
            <div class="brand-card">
              <img src="images/Arrowhead_1.jpeg" alt="Brand 2" />
              <h3>ArrowHead</h3>
            </div>
          </div>
          <div class="slide">
            <div class="brand-card">
              <img src="images/CrystalGeyser_1.webp" alt="Brand 3" />
              <h3>Crystal Geyser</h3>
            </div>
          </div>
          <div class="slide">
            <div class="brand-card">
              <img src="images/Dasani_1.webp" alt="Brand 4" />
              <h3>Dasani</h3>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>