<html>
  <head>
    <meta charset="utf-8" />
    <title>Featured Brands</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Featured Brands</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/wateringholes">Watering Holes</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main id="featured-brands">
      <div class="container">
        <h1>Featured Brands</h1>
        <div class="row">
          <div class="col-md-4 featured-brand">
            <div class="card">
              <img
                class="card-img-top"
                src="../images/Aquafina_1.jpeg"
                alt="Aquafina"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a class="card-title" href="/wateringholes/2">Aquafina</a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 featured-brand">
            <div class="card">
              <img
                class="card-img-top"
                src="../images/Arrowhead_2.webp"
                alt="ArrowHead"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a class="card-title" href="/wateringholes/4">Arrowhead</a>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 featured-brand">
            <div class="card">
              <img
                class="card-img-top"
                src="../images/crystal_geyser2.jpeg"
                alt="Crystal Geyser"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a class="card-title" href="/wateringholes/3">Crystal Geyser</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4 featured-brand">
            <div class="card">
              <img
                class="card-img-top"
                src="../images/Dasani_1.jpeg"
                alt="Dasani"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a class="card-title" href="/wateringholes/1">Dasani</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>