<html>
  <head>
    <meta charset="utf-8" />
    <title>Featured Brands</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <header>
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <a id="navbar-brand" href="/">Featured Brands</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="navbar-brand" href="./wateringholes">Watering Holes</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

<div class="top-water-brands">
  <h2>Top Water Brands</h2>
  {{#each wateringHoles as |wateringHole|}}
  <div class="water-brand-card">
    <img src="../images/WateringHole.jpeg" alt="Watering hole logo">
    <h2><a href="/wateringholes/{{wateringHole.id}}">{{wateringHole.name}}</a></h2>
    <p>Overall Rating: {{overallScore wateringHole}}</p>
    {{#if (equals ../sessionId wateringHole.user_id)}}
    <button type="button" class="btn btn-danger" data-id="{{wateringHole.id}}">Delete</button>
    {{/if}}
  </div>
  {{/each}}


<form id="create-wateringhole-form">
    <label for="wateringholepost">Create a Watering Hole:</label>
    <label for="wateringholetype">Watering Hole Name:</label>
    <input type="text" name="wateringholetype" id="wateringhole-name"/>
    <label for="wateringholepost">Watering Hole Description here:</label>
    <input type="text" name="wateringholepost" id="wateringhole-description"/><br/>
    <label for="wateringholerating">Initial Rating:</label>
    <div class="rating-section">
      <input type="radio" id="star10" name="wateringholerating" value="10" />
      <label for="star10"></label>
      <input type="radio" id="star9" name="wateringholerating" value="9" />
      <label for="star9"></label>
      <input type="radio" id="star8" name="wateringholerating" value="8" />
      <label for="star8"></label>
      <input type="radio" id="star7" name="wateringholerating" value="7" />
      <label for="star7"></label>
      <input type="radio" id="star6" name="wateringholerating" value="6" />
      <label for="star6"></label>
      <input type="radio" id="star5" name="wateringholerating" value="5" />
      <label for="star5"></label>
      <input type="radio" id="star4" name="wateringholerating" value="4" />
      <label for="star4"></label>
      <input type="radio" id="star3" name="wateringholerating" value="3" />
      <label for="star3"></label>
      <input type="radio" id="star2" name="wateringholerating" value="2" />
      <label for="star2"></label>
      <input type="radio" id="star1" name="wateringholerating" value="1" />
      <label for="star1"></label>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>

</div>
<script src="/js/main.js"></script>
<script src="./js/wateringholes.js"></script>

</body>