<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Featured Brands</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
<h2>Water by Brands</h2>
  </body>
  </html>