/* Global Styles */
body {
  background: linear-gradient(180deg, #9cd9fb 0%, #0b6db7 50%, #003c6a 100%);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#navbar {
  background-color: #003c6a;
}

.nav-link {
  color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0073aa;
  text-decoration: none;
}

/* Header Styles */
nav {
  background-color: #003c6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 5px solid #9cd9fb; /* added light blue bottom border */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a {
  color: white;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}

nav .btn-logout {
  /* background-color: #f44336; */
  background: linear-gradient(180deg, #9cd9fb 0%, #0b6db7 50%, #003c6a 100%);
  border-bottom: #003c6a;
  color: white;
}

nav .btn-logout:hover {
  color: #333;
}
/* Featured brands */

#featured-brands {
  margin-top: 10px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.featured-brands {
  background-color: #0a2b53;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.featured-brands h5 {
  font-size: 32px;
  font-family: "Pacifico", cursive;
}

.featured-brand {
  margin-bottom: 40px;
  width: 300px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.featured-brand .card {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.featured-brand .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.featured-brand .card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #0b6db7;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.featured-brand .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-family: "Pacifico", cursive;
  text-align: center;
  background: linear-gradient(45deg, #00b0ff, #0064ff);
  border-top: 6px solid #8dd2ff;
}

.featured-brand .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
}

.featured-brand .card:hover img {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .featured-brand .card {
    height: 300px;
  }

  .featured-brand .card-title {
    margin-bottom: 0;
    background: linear-gradient(45deg, #00b0ff, #0064ff);
    border-top: 6px solid #8dd2ff;
    padding: 10px;
    color: #fff;
    font-family: "Pacifico", cursive;
  }
}

/* Login and Signup Styles */
form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

form p {
  margin-top: 20px;
  text-align: center;
}

/* Specific page styles */
#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-page .login-form {
  max-width: 500px;
  width: 100%;
}

#signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signup-page .signup-form {
  max-width: 500px;
  width: 100%;
}

/* Watering Hole Page Styles */
/* Top Brands */

.top-water-brands {
  background: linear-gradient(180deg, #9cd9fb 0%, #0b6db7 50%, #003c6a 100%);
  padding: 50px 0;
  text-align: center;
}

.water-brand-card {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.water-brand-card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #0b6db7;
  margin-top: 20px;
}

.water-brand-card p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  line-height: 1.5;
}

.water-brand-card img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.water-brand-card p:first-child {
  font-size: 20px;
  color: #0b6db7;
  margin-top: 0;
}

.top-water-brands h2 {
  font-family: "Pacifico", cursive;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.top-water-brands p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  line-height: 1.5;
}

/* Reviews */

.reviews-section {
  background: linear-gradient(180deg, #003c6a 0%, #0b6db7 50%, #9cd9fb 100%);

  padding: 50px 0;
  text-align: center;
  transition: background 1s ease-in-out;
}

/* .reviews-section:hover {
  background: linear-gradient(180deg, #003c6a 0%, #0b6db7 50%, #9cd9fb 100%);
} */

.reviews-section h2 {
  font-family: "Pacifico", cursive;
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.review-card {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 400px;
  display: inline-block;
  text-align: center;
}

.review-card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #0b6db7;
  margin-top: 20px;
}

.review-card p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  line-height: 1.5;
}

.review-card .rating {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 36px;
}

.review-card .author {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #999;
  font-size: 14px;
}

/* Form for Review */

.watering_hole {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.watering_hole h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.watering_hole p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.watering_hole form label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.watering_hole form textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.watering_hole form button[type="submit"] {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.watering_hole form button[type="submit"]:hover {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.watering_hole form button[type="submit"]:hover {
  background-color: #0073aa;
}

/* Rating section */

label[for="star5"]:before {
  content: "5 💧";
}

label[for="star4"]:before {
  content: "4 💧";
}

label[for="star3"]:before {
  content: "3 💧";
}

label[for="star2"]:before {
  content: "2 💧";
}

label[for="star1"]:before {
  content: "1 💧";
}

.rating-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
}

.rating-section input[type="radio"] {
  display: none;
}

.rating-section label {
  font-size: 36px;
  cursor: pointer;
  color: #e4e4e4;
  transition: color 0.2s;
}

.rating-section label:hover,
.rating-section label:hover ~ label {
  color: black;
}

.rating-section input[type="radio"]:checked ~ label {
  color: black;
}
